{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": false,
  "useTabs": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "embeddedLanguageFormatting": "off",
  "insertPragma": false,
  "vueIndentScriptAndStyle": false,
  "requirePragma": false,
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ]
}